<?xml version='1.0' encoding='utf-8'?>
<widget id="elmeniawy.eslam.elections" versionCode="1014001" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Elections</name>
    <description>
        Elections mobile application.
    </description>
    <author email="islam@muslim-tec.com" href="https://twitter.com/eslam_elmeniawy">
        Eslam El-Meniawy
    </author>
    <content src="index.html" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="phonegap-plugin-push" source="npm" />
    <gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" source="plugins.cordova.io" />
    <access origin="*" />
</widget>
